* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

section {
    margin-bottom: 100px;
}

select {
    font-size: 16px;
    padding: 10px;
    border: none;
    color: white;
    font-weight: bold;
    background: green;
}

li {
    list-style: none;
    font-size: 20px;
}

a {
    transition: all .4s;
    text-decoration: none;
    color: green;
}

a:hover {
    color: blue;
}

main {
    max-width: 900px;
    margin: 0 auto;
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    background-color: gainsboro;
}

header {
    display: flex;
    padding: 30px;
    font-size: 20px;
    justify-content: flex-end;
    align-items: center;
}

header span {
    margin: 0 10px;
}

header a {
    margin: 0 15px;
    display: inline-block;
}

input {
    border: none;
    padding: 5px;
    min-width: 200px;
}

button {
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  background: green;
  cursor: pointer;
  border: none;
  transition: all .4s;
}

.main-form__button {
    background: transparent;
    min-width: 250px;
    min-height: 50px;
    border: 3px solid white;
    font-size: 22px;
}

.main-form__button:hover {
    background: white;
    color: black;
}

button:hover {
   background: blue;
}

.main-form {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    min-height: 300px;
    min-width: 500px;
    padding-top: 60px;
    color: white;
    background: black;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    font-size: 28px;
    text-align: center;
}

.main-form__label {
    display: block;
    margin: 20px 0;
}

.wallets form button {
    margin-left: 20px;
}

.updateBalance input{
    font-size: 16px;
    padding: 10px;
}

.updateBalance button {
    margin-right: 20px;
    margin-top: 20px;
}

.updateBalance select {
    margin-left: 20px;
}

.wallet-history span{
    margin-right: 20px;
}

.wallet-history li{
    margin-bottom: 10px;
    margin-top: 10px;
}