<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://kit.fontawesome.com/658f54bbb0.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="header__wrap">
        <a class="header__logo" href="/">Cryptognomes</a>
        <a href="{{ url_for('pages.user') }}">User page</a>
        <a href="{{ url_for('pages.stakan') }}">Orders</a>
        <a class="link--active" href="{{ url_for('pages.about') }}">About us</a>
        <div class="logout">
            Hello <span class="login">{{user.login}}</span>
            <a href="/logout">Logout</a>
        </div>
    </div>
</header>
<main>
    <section class="about">
        <h1>About Cryptognome</h1>
Cryptognome має одну з найбільш захищених торгових платформ та інфраструктуру цифрового холдингу у світі, де клієнти можуть отримати доступ до захоплюючих нових продуктів. Побудований за найсучаснішою технологією, Cryptognome надає інституційний досвід як для професійних клієнтів , так і для клієнтів-початківців. Штаб-квартира компанії знаходиться біля історичного центру Києва, в Україні. Що відрізняє Cryptognome?
Безпечна платформа - у Cryptognome використовуються найнадійніші, ефективні технології безпеки. Cryptognome також дозволяє дворівневу автентифікацію для всіх користувачів і надає безліч додаткових функцій безпеки для забезпечення захисту. Безпека завжди є нашим першочерговим пріоритетом!
Швидкі депозити та зняття коштів
- Наша високоефективна та автоматизована платформа моніторингу дозволяє нам надавати користувачам найбільш швидкі доступні на сьогодні транзакції. Сюди входять оновлення інформації про баланс, торгівлю та зберігання інформації.
Рушійні інновації
– Для того,щоб  сприяти інноваціям у галузі індустрії блокчейн, Cryptognome прагне підтримувати як нові, так і вже створені блокчейни. Cryptognome прагне надати своїм користувачам постійно зростаючий вибір технологій blockchain  та цифрових токенів.
Зобов'язання щодо дотримання вимог
- Cryptognome зобов’язаний дотримуватися всіх чинних норм, які допомагають запобігти, виявити та усунути протиправну поведінку клієнтів та розробників віртуальної валюти при використанні торгової платформи Cryptognome або будь-якої з інших послуг компанії.
        <h1>Глобальні Клієнти</h1>
- Cryptognome прийматиме клієнтів з усього світу.
        <h1>Management Team</h1>
Ілля Мальцев, 3й курс спеціальності «Прикладна математика» НаУКМА
Данило Таран, 4й курс спеціальності «Прикладна математика» НаУКМА
Олександра Уткіна, 4й курс спеціальності «Комп’ютерні науки та інформаційні технології» НаУКМА

    </section>

</main>
<script src="../static/js/main.js"></script>
</body>
</html>