<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>

<form class="main-form" action="/auth">
    <label class="main-form__label">Login: <input type="text"></label>
    <label class="main-form__label">Password: <input type="password"></label>
    <button class="button main-form__button" type="submit">Authorize</button>
</form>

</body>
</html>