<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>

<form class="main-form" method="post" action="/registration/">
    <label class="main-form__label">Login: <input type="text" name="login"></label>
    <label class="main-form__label">Password: <input type="password" name="password"></label>
    <button class="button main-form__button" type="submit">Зареєструватися</button>
</form>
<script src="../static/js/main.js"></script>
</body>
</html>