<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://kit.fontawesome.com/658f54bbb0.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="header__wrap">
        <a class="header__logo" href="/">Cryptognomes</a>
        <a href="{{ url_for('pages.user') }}">User page</a>
        <a class="link--active" href="{{ url_for('pages.stakan') }}">Orders</a>
        <a href="{{ url_for('pages.about') }}">About us</a>
        <div class="logout">
            Hello,<span class="login">{{user.login}}</span>
            <a href="/logout">Logout</a>
        </div>
    </div>
</header>
<main>
    <section class="order-history">
        <h1><i style="margin-right: 10px" class="fas fa-signal"></i> Order history</h1>
        BTC/UAH
        <canvas id="myChart"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['28.11', '29.11', '30.11','1.12', '2.12', '3.12'],
                    datasets: [{
                        label: 'BTC/UAH',
                        borderColor: 'rgb(0, 255, 0)',
                        data: [18000,  18900, 18700 ,18700, 18500, 17000]
                    }]
                },
                options: {}
            });
        </script>
    </section>
    <section class="orders">
        <h1><i style="margin-right: 10px;" class="fas fa-list-alt"></i> Current orders</h1>
        <ul>
            <div class="orders__headings">
                <span>From</span>
                <span>To</span>
                <span>Price</span>
                <span>Amount</span>
                <span>Action</span>
            </div>
            {% for user_stak in all_stakans %}
            {% if user_stak.status.value == 'Active' %}
            <li id="{{user_stak.id}}">
                <span class="cash">{{user_stak.coinsFrom[0].name}}</span> <span class="cash">{{user_stak.coinsTo[0].name}}</span>
                <span>{{user_stak.price}}</span> <span>{{user_stak.count}}</span> <span class="action-button">Buy</span>
                <!--Async POST query to /user/stakan/buy with param {login, from, to, price, count}-->
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="orders">
        <h1><i style="margin-right: 10px;" class="fas fa-user-tag"></i> User orders</h1>
        <form name="createOrder">
            <!--Fill on server-->
            <select name="type">
                <option value="Sell">Sell</option>
                <option value="Buy" selected>Buy</option>
            </select>
            From :
            <select name="from">
                    {% for coin in coins %}
                    <option value="{{coin.id}}">{{coin.name}}</option>
                    {% endfor %}
            </select>
            To :
            <select name="to">
                    {% for coin in coins %}
                    <option value="{{coin.id}}">{{coin.name}}</option>
                    {% endfor %}
            </select>
            <label>Price : <input name="price" type="number"></label>
            <label>Amount : <input name="count" type="number"></label>
            <button type="button" class="create-order">Create order</button>
            <!--Async POST query to /user/stakan/create with param {login, type, from, to, price, count}-->
        </form>
        <ul>
            <div class="orders__headings">
                <span>From</span>
                <span>To</span>
                <span>Price</span>
                <span>Amount</span>
                <span>Operation type</span>
                <span>Action</span>
            </div>
            <!--Fill on server-->
            {% for user_stak in user_stakans %}
            {% if user_stak.status.value == 'Active' %}
            <li>
                <span class="cash">{{ user_stak.coinsFrom[0].name }}</span> <span class="cash">{{ user_stak.coinsTo[0].name }}</span>
                <span>{{ user_stak.price }}</span> <span>{{ user_stak.count}}</span> <span>{{user_stak.type.value}}</span><span data-action="delete" class="action-button">Delete</span>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </section>
    <section class="orders">
        <h1><i style="margin-right: 10px;" class="fas fa-history"></i> User orders history</h1>
        <ul>
            <div class="orders__headings">
                <span>From</span>
                <span>To</span>
                <span>Price</span>
                <span>Amount</span>
                <span>Action</span>
                <span>Time</span>
            </div>
            <!--Fill on server-->
            {% for user_stak in user_stakans %}
            {% if user_stak.status.value == 'Inactive' %}
            <li>
                <span class="cash">{{ user_stak.coinsFrom[0].name }}</span> <span class="cash">{{ user_stak.coinsTo[0].name }}</span>
                <span>{{ user_stak.price }}</span> <span>{{ user_stak.count}}</span>
                <span>{{user_stak.type.value}}</span><span>{{user_stak.date}}</span>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

    </section>
</main>
<template id="order">
    <li>
        <span class="cash order__from"></span> <span class="cash order__to"></span>
        <span class="order__price"></span> <span class="order__count"></span> <span class="order__action action-button"></span>
    </li>
</template>
<template id="current-order">
    <li>
        <span class="cash order__from"></span> <span class="cash order__to"></span>
        <span class="order__price"></span> <span class="order__count"></span> <span class="order__action"></span> <span data-action="delete" class="action-button">Delete</span>
    </li>
</template>
<script src="../static/js/main.js"></script>
</body>
</html>