<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<header>
    Hello <span>{{user.login}}</span>
    <a href="/logout">Logout</a>
    <a href="/"></a> <!-- redirect back to user -->
</header>

<section>
    <h1>Cup history</h1>
    <ul>
       {% for all_stkn in all_stakans %}
        <li>
            <span>Bought From{{all_stkn.coin.name}}</span> <span>To:{{all_stkn.coin.name}}</span> <span>Price:{{all_stkn.price}}</span> <span>Count:{{all_stkn.count}}</span>
        </li>
        {% endfor %}
    </ul>
</section>
<section>
    <h1>Current cups</h1>
    <ul>
        <!--Fill on server-->
        <li>
            <button>Buy</button> From: <span>btc</span> to: <span>usd</span>, price: <span>100</span>, count: <span>2</span><br>
            <!--Async POST query to /user/stakan/buy with param {login, from, to, price, count}-->
        </li>
        <li>
            <button>Sell</button> From: <span>btc</span> to: <span>usd</span>, price: <span>100</span>, count: <span>2</span>
            <!--Async POST query to /user/stakan/sell with param {login, from, to, price, count}-->
        </li>
    </ul>
</section>
<section>
    <h1>User cups</h1>
    <form>
        <!--Fill on server-->
        <select>
            <option value="sell">Sell</option>
            <option value="buy" selected>Buy</option>
        </select>
        From :
        <select>
            <option value="btc">Bitcoin</option>
            <option value="grn" selected>Grivna</option>
            <option value="usd">Dollar</option>
        </select>
        To :
        <select>
            <option value="btc">Bitcoin</option>
            <option value="grn" selected>Grivna</option>
            <option value="usd">Dollar</option>
        </select>
        <label>Price : <input type="text"></label>
        <label>Amount : <input type="text"></label>
        <button>Create cup</button>
        <!--Async POST query to /user/stakan/create with param {login, type, from, to, price, count}-->
    </form>
    <ul>
        <!--Fill on server, need to get id here of stakan-->
        <li>
            <span>Buy</span> From: <span>btc</span> to: <span>usd</span>, price: <span>100</span>, count: <span>2</span> <button>Delete</button>
            <!--Async DELETE query to /user/stakan/delete with param {login, id}-->
        </li>
        <li>
            <span>Sell</span> From: <span>btc</span> to: <span>usd</span>, price: <span>100</span>, count: <span>2</span> <button>Delete</button>
            <!--Async DELETE query to /user/stakan/delete with param {login, id}-->
        </li>
    </ul>
</section>

<!--
    <section class="wallets">
        <ul>
        {% for user_coin in user_coins %}
            <li>
                <span>{{user_coin.coin.name}}</span> <span>{{user_coin.balance}}</span>
            </li>
            {% endfor %}
        </ul>
-->



<section>
    <h1>User cups history</h1>
    <ul>
         {% for user_cup in user_stakans %}
        <li>
            <span>Bought From: </span>{{user_stakans.coin.name}} to:<span>{{user_stakans.coin.name}}</span>,  price: <span>user_stakans.coin.price</span>
        <li>
            <span>Sold</span> From: <span>btc</span> to: <span>usd</span>, price: <span>100</span>, count: <span>2</span>
        </li>
    </ul>
</section>
<script src="../static/js/main.js"></script>
</body>
</html>