<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<header>
    Hello, <span> {{ user.login }}  </span>
    <a href="/logout">Logout</a>
    <a href="/stakan"></a>
</header>
<main>
    <section class="wallets">
        <!--Fill on server-->
        <h1>Your wallets</h1>
        <ul>
            {% for user_coin in user_coins %}
                <li>
                    <span>{{ user_coin.coin.name }}</span> <span>{{ user_coin.balance }}</span>
                </li>
            {% endfor %}
        </ul>
        <h1>Add wallet</h1>
        <form class="addWallet">
            <select>
                <!--Fill on server-->
                {% for coin in coins %}
                <option value="{{coin.id}}">{{coin.name}}</option>
                {% endfor %}
            </select>
            <button>Add wallet</button>
            <!--Async POST query to /user/addWallet with param {login, coinName}-->
        </form>
    </section>
    <section class="updateBalance">
        <h1>Update wallet</h1>
        <input type="number" placeholder="Amount">
        <select>
            {% for user_coin in user_coins %}
            <option value="{{ user_coin.coin.id }}">{{ user_coin.coin.name }}</option>
            {% endfor %}
        </select>
        </br>
        <button class="withdraw">Withdrow</button>
        <!--Async POST query to /user/withdrow with param {login, count, coinName}-->
        <button class="deposit">Deposit</button>
        <!--Async POST query to /user/deposit with param {login, count, coinName}-->
    </section>

    <section class="wallet-history">
        <h1>Wallet history</h1>
        <table>
            <tr>
                <th>currency</th>
                <th>value</th>
                <th>action</th>
            </tr>

            {% for w_history in wallet_history %}
                <tr>
                    <td>{{ w_history.coin.name }}</td>
                    <td>{{ w_history.count }}</td>
                    <td>{{ w_history.operation.value }}</td>
                </tr>
            {% endfor %}
        </ul>
    </section>
    </main>
<script src="../static/js/main.js"></script>
</body>
</html>