<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://kit.fontawesome.com/658f54bbb0.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="header__wrap">
        <a class="header__logo" href="/">Cryptognomes</a>
        <a class="link--active" href="{{ url_for('pages.user') }}">User page</a>
        <a href="{{ url_for('pages.stakan') }}">Orders</a>
        <a href="{{ url_for('pages.about') }}">About us</a>
        <div class="logout">
            Hello, <span class="login">{{ user.login }}</span>!
            <a href="/logout">Logout</a>
        </div>
    </div>
</header>
<main>

        <section class="keys">
        <h1><i style="margin-right: 10px;" class="fas fa-key"></i> Keys</h1>
            <div>
                <span>Open key: <code>{{ user.open_key }}</code></span>
                <span>Private key: <code>{{ user.private_key }}</code></span>
            </div>
    </section>

    <section class="wallets">
        <!--Fill on server-->
        <h1><i style="margin-right: 10px;" class="fas fa-wallet"></i> Wallets</h1>
        <ul>
            <div class="wallets__headings">
                <span>Currency</span>
                <span>Total</span>
                <span>Action</span>
            </div>
            {% for user_coin in user_coins %}
                <li>
                    <span class="wallet-name" id="{{ user_coin.id }}"><i
                            class="fas fa-{{ user_coin.coin.icon_class }}"></i>{{ user_coin.coin.name }}</span>
                    <span class="wallet-amount">{{ user_coin.balance }}</span>
                    <div>
                        <span data-action="withdraw" class="action-button">Withdrow</span>
                        <span data-action="deposit" class="action-button">Deposit</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="wallets__add">
            <h1>Add wallet</h1>
            <form class="addWallet">
                <select>
                    {% for coin in coins %}
                        {% if not coin.id in have_coin_id %}
                            <option value="{{ coin.id }}">{{ coin.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button>Add wallet</button>
            </form>
        </div>
    </section>
    <section class="updateBalance updateBalance--withdraw">
        <form class="updateBalance__wrap" name="withdraw">
            <div>
                <span class="updateBalance__closeButton"><i class="fas fa-times"></i></span>
                <span>Currency to withdraw :</span> <span class="updateBalance__currency"></span>
            </div>
            <input type="number" name="amount" placeholder="Amount">
            <button type="button" class="withdraw">Withdraw</button>
            <!--Async POST query to /user/withdrow with param {login, count, coinName}-->
        </form>
    </section>
    <section class="updateBalance updateBalance--deposit">
        <form class="updateBalance__wrap" name="deposit">
            <div>
                <span class="updateBalance__closeButton"><i class="fas fa-times"></i></span>
                <span>Currency to deposit :</span> <span class="updateBalance__currency"></span>
            </div>
            <input type="number" name="amount" placeholder="Amount">
            <button type="button" class="deposit">Deposit</button>
            <!--Async POST query to /user/deposit with param {login, count, coinName}-->
        </form>
    </section>
    <section class="wallet-history">
        <h1><i style="margin-right: 10px;" class="fas fa-history"></i> Wallet history</h1>
        <ul>
            <div class="wallet-history__headings">
                <span>Currency</span>
                <span>Total</span>
                <span>Action</span>
                <span>Time</span>
            </div>
            {% for w_history in wallet_history %}
                <!--<li>-->
                <!--<span>Type = {{w_history.operation.value}}</span> <span>Currency: {{w_history.coin.name}}</span>  <span>= {{w_history.count}}</span>-->
                <li>
                    <span class="wallet-history__currency"><i
                            class="fas fa-{{ w_history.coin.icon_class }}"></i> {{ w_history.coin.name }}</span>
                    <span class="wallet-history__amount">{{ w_history.count }}</span>
                    <span class="wallet-history__type">{{ w_history.operation.value }}</span>
                    <span class="wallet-history__time">{{ w_history.date }}</span>
                </li>
                <!--</li>-->
            {% endfor %}
        </ul>
    </section>
</main>
<template id="wallet">
    <li>
        <span class="wallet-name"></span>
        <span class="wallet-amount">0.0</span>
        <div>
            <span data-action="withdraw" class="action-button">Withdrow</span>
            <span data-action="deposit" class="action-button">Deposit</span>
        </div>
    </li>
</template>
<script src="../static/js/main.js"></script>
</body>
</html>